---
layout: default
---

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{ page.title }}
            </h1>
            <h2 class="subtitle">
                {{ page.description }}
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% if site.tags[page.slug] %}
            {% for post in site.tags[page.slug] %}
                <div class="card post-card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{post.title}}</p>
                                <p class="subtitle is-6">
                                    {% for category in post.categories %}
                                    <a href="{{ '/category/' | prepend: site.url }}{{ category }}" class="tag is-primary">{{ category }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            {{ post.description }}
                            <br>
                            <small>{{ post.date | date: "%d.%m.%Y %H:%M" }}</small>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{post.url | prepend: site.baseurl}}" class="card-footer-item">Devamını Oku</a>
                    </footer>
                </div>
            {% endfor %}
        {% else %}
            There are no posts in {{ page.title }}.
        {% endif %}
    </div>
</section>